.services-section {
  /* Eliminamos padding y background */
  position: relative;
  padding: 0;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
}

.service-card {
  background: var(--light-bg);
  color: var(--gray-text);
  border-radius: 12px;
  padding: 1.5rem;
  text-align: center;
  transition: all 0.4s cubic-bezier(0.22, 1, 0.36, 1);
  box-shadow: 0 10px 20px var(--shadow);
  position: relative;
  overflow: hidden;

  /* --- CAMBIOS PARA ALINEACIÓN UNIFORME --- */
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Alinea al inicio para consistencia */
  height: 100%; /* Asegura que la tarjeta ocupe toda la altura de la celda de la cuadrícula */
}

.skill-card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, var(--secondary-dark), var(--highlight-warm));
  z-index: 0;
  transition: opacity 0.3s ease;
  opacity: 0;
}

.service-card:hover::before {
  opacity: 1;
}

.service-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 30px rgba(2, 2, 1, 0.15);
  color: var(--white);
}

.service-icon {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: var(--secondary-dark);
  transition: transform 0.3s ease;
}

.service-card:hover .service-icon {
  transform: scale(1.1);
}

.service-name {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  font-weight: 600;
  color: var(--primary-dark);
}

.service-card:hover .service-name, .service-card:hover .service-description, .service-card:hover .service-icon {
  color: var(--white);
}

.service-description {
  font-size: 1rem;
  color: var(--gray-text);
  line-height: 1.6;
}