.timeline-section {
  padding: 4rem 5%;
  background-color: var(--light-bg);
  max-width: 900px;
  margin: 0 auto;
}

.timeline-item {
  position: relative;
  padding: 1rem 1rem 2rem 2.5rem;
  border-left: 3px solid #96948E; /* Gris claro cálido */
  margin-left: 1rem;
}

.timeline-item::before {
  content: '';
  position: absolute;
  left: -11px; /* (20px / 2) - 3px */
  top: 1.2rem;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--highlight-warm);
  border: 3px solid var(--white);
}

.timeline-item h3 {
  font-size: 1.5rem;
  color: var(--primary-dark);
  margin-bottom: 0.25rem;
}

.timeline-item p, .timeline-item ul {
  color: var(--gray-text);
  line-height: 1.6;
  margin-bottom: 0.5rem;
}