/* Importamos la tipografía global para toda la aplicación */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Georgia', serif;
  line-height: 1.6;
  color: #1f2937;
  background-color: #e5e7eb;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}